DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=frubana

# openssl rand -base64 32
AUTH_SECRET=your-secret-key

API_URL_AWS=
API_BUCKET_AWS=
NEXT_AWS_S3_ACCESS_KEY_ID=
NEXT_AWS_S3_SECRET_ACCESS_KEY=
NEXT_AWS_S3_REGION=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:frubana@localhost:5434/teslo-shop?schema=public"